
// 竖直1px
.vertical-bar {
  display: block;
  width:e(1px);
  height:e(25px);
  background: #a1a1a1;
  -webkit-transform: scale(.5, 1);
  transform: scale(.5, 1);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

// 水平1px
.horizon-bar {
  display: block;
  width: 100%;
  height:e(1px);
  background: #eaeaea;
  transform: scale(1, .5);
  transform-origin: center bottom;
}

.common-rmb {
  &:before {
    content: '¥';
    margin-right:e(6px);
  }
}

.gap {
  width: 100%;
  height: e(16px);
  background: $bg;
}