// 竖直1px
.vertical-bar {
  display: block;
  width: e(1px);
  height: e(25px);
  background: #a1a1a1;
  -webkit-transform: scale(.5, 1);
  transform: scale(.5, 1);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

// 水平1px
.horizon-bar {
display: block;
  width: 100%;
  height: e(1px);
  background: #eaeaea;
  transform: scale(1, .5);
  transform-origin: center bottom;
}

.common-rmb {
  &:before {
    content: '¥';
    margin-right: e(6px);
  }
}

.gap {
  flex: none;
  display: block;
  width: 100%;
  height: r(16px);
  background: $bg;
}

/* 覆盖选择器样式 */

body {
  .cube-picker-wheel-item {
    height: r(50px);
    line-height: r(50px);
    font-size: r(32px); // background: #eee;
  }
  .cube-picker-content {
    padding-top: r(70px);
    .border-bottom-1px {
      top: 10px;
    }
    .border-top-1px {
      bottom: -6px;
    }
  }
  .cube-picker-wheel-wrapper>div {
    height: r(224px);
  }
  .cube-picker-panel {
    height: r(500px);
  }
  .cube-picker-choose {
    height: r(98px);
    line-height: r(98px);
  }
  .cube-picker-content>i {
    height: r(120px);
    &:before,
    &:after {
      transform: scale(1, 1);
    }
  }
  .cube-picker-confirm,
  .cube-picker-cancel {
    height: r(98px);
    line-height: r(98px);
    font-size: r(24px);
    padding: 0 r(36px);
  }
  .cube-picker-confirm {
    color: $main;
  }
  .cube-picker-title {
    font-size: r(32px);
  }
  // 修复图片查看器 查看小图放大不能显示全部的问题
  .cube-image-preview-item {
    width: 100%;
  }
}

.van-pull-refresh__head {
  $h: r(142px);
  height: $h;
  line-height: $h;
  top: -$h;
}