/* 转场动画 */
.on-enter {
  transform: translate3d(100%, 0, 0);
}

.on-leave-to {
  z-index: 300;
  transform: translate3d(-50%, 0, 0);
}

.on-enter-active,
.on-leave-active {
  z-index: 100;
  background: $bg;
  box-shadow: 0 e(30px) 0 rgba(0, 0, 0, .2);
  transition: transform .25s ease;
}

.off-enter {
  transform: translate3d(-50%, 0, 0);
}

.off-leave-to {
  transform: translate3d(100%, 0, 0);
}

.off-enter-active,
.off-leave-active {
  background: $bg;
  box-shadow: 0 e(30px) 0 rgba(0, 0, 0, .2);
  transition: transform .25s ease;
}

.off-leave-active {
  z-index: 2;
}

/* 表单元素警告 */
.input-warn-enter-active {
  animation: warn 0.3s;
}
@keyframes warn {
  20% {
    transform: translate3d(e(10px), 0, 0);
  }
  40% {
    transform: translate3d(e(0px), 0, 0);
  }
  60% {
    transform: translate3d(e(10px), 0, 0);
  }
  80% {
    transform: translate3d(e(0px), 0, 0);
  }
  100% {
    transform: translate3d(e(0px), 0, 0);
  }
}

/* 选择器显示 / 隐藏 */
.v-picker-enter,
.v-picker-leave-to {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
}
.v-picker-enter-active,
.v-picker-leave-active {
  transition: transform .25s, opacity .25s;
}

/* 客户定制需求选择器 */
.show-picker-enter,
.show-picker-leave-to {
  z-index: 20;
  opacity: 0;
  transform: translate3d(0, 50%, 0);
}
.show-picker-enter-active,
.show-picker-leave-active {
  z-index: 20;
  transition: transform .25s, opacity .25s;
}

/* 展示选择图片菜单 */

.photo-menu-enter,
.photo-menu-leave-to {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
}
.photo-menu-enter-active,
.photo-menu-leave-active {
  z-index: 20;
  transition: transform .25s, opacity .1s;
}
/* 展示对话框 */

.show-dialog-enter,
.show-dialog-leave-to {
  opacity: 0;
  top: 46% !important;
}
.show-dialog-enter-active,
.show-dialog-leave-active {
  z-index: 20;
  transition: top .25s, opacity .25s;
}