.store {
  height: 100%;
  background: #fff;
  h1 {
    background: $main;
    color: #fff;
  }
  .app-container {
    height: 100%;
  }
  .pop-cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .pop {
    ul {
      position: absolute;
      right: r(36px);
      top: calc(50% + #{ r(35px) });
      width: r(264px);
      background: #fff;
      box-shadow: 0 0 r(20px) 0 rgba(0, 0, 0, 0.3);
      border-radius: r(12px);
      &:before {
        position: absolute;
        right: 7px;
        transform: translateY(-90%);
        content: '';
        display: block;
        border: 6px solid transparent;
        border-bottom-color: #fff;
      }
    }
    li {
      line-height: r(80px);
      &:not(:last-of-type) {
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #f5f5f5;
          transform: scaleY(.5);
        }
      }
    }
    span {
      font-size: r(24px);
      margin-left: r(36px);
    }
  }
  .content {
    background: #fff;
    padding-top: r(20px);
    padding-bottom: r(98px);
  }
  .background-img {
    height: r(280px);
  }
  .store-msg {
    display: flex;
    justify-content: space-between;
    border-bottom: r(16px) solid #f5f5f5;
    padding-left: r(172px);
    color: #404040;
    position: relative;
    background: #fff;
    .grade {
      display: flex;
      align-items: center;
      padding-right: r(8px);
      padding-bottom: r(32px);
      i {
        display: block;
        font-size: r(20px);
        padding-right: r(3px);
      }
      span {
        font-size: r(20px);
        color: rgb(111, 110, 110);
        display: block;
        padding-left: r(5px);
      }
    }
  }
  .store-name {
    font-size: r(30px);
    padding-top: r(24px);
    padding-bottom: r(10px);
    margin-right: r(20px);
  }
  .store-logo {
    width: r(120px);
    height: r(120px);
    border-radius: r(8px);
    box-shadow: 0 0 r(20px) 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: r(36px);
    bottom: r(28px);
  }
  .concern {
    flex: none;
    align-self: center;
    height: r(56px);
    text-align: right;
    font-size: r(24px);
    border-radius: r(56px);
    box-shadow: 0 0 r(20px) 0 rgba(0, 0, 0, 0.1);
    padding: 0 r(30px);
    margin-right: r(36px);
    display: -webkit-box;
    display: flex;
    /* space-around | start | end | center | justify */
    -webkit-box-pack: center;
    justify-content: center;
    /* start | end | center | baseline | stretch */
    -webkit-box-align: center;
    align-items: center;
    i {
      font-size: r(24px);
      margin-right: r(6px);
    }
    .icon-btn_find_favorirePre {
      color: #cc2828;
    }
  }
  .tab-module {
    background: #fff;
    ul {
      display: flex;
    }
    li {
      flex: 1;
      border-bottom: r(4px) solid #fff;
      padding-top: r(20px);
    }
    p {
      color: #404040;
      font-size: r(30px);
      text-align: center;
      padding-bottom: r(20px);
    }
    span {
      display: block;
      padding-bottom: r(12px);
      font-size: r(20px);
    }
    .active {
      font-weight: bold;
      border-color: #404040;
    }
  }
  .store-ad-banner {
    height: r(140px);
    border-radius: r(8px);
    overflow: hidden;
    margin: 0 r(36px);
    margin-bottom: r(23px);
    img {
      height: r(140px);
      border-radius: r(8px);
    }
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: r(7px);
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 2px;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      background: #fff;
      width: r(12px);
      height: r(4px);
      border-radius: 0px;
      &.swiper-pagination-bullet-active {
        width: r(18px);
        background: #404040;
      }
    }
  }
  .module-list {
    position: relative;
    &.fixed-gauge {
      padding-bottom: r(100px);
    }
    &>div {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(220%);
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      &>ul {
        padding-top: 10px;
      }
      &.transform {
        transform: translateX(0);
      }
      &.no-swiping {
        overflow: hidden;
      }
    }
    .share.page-bottom {
      margin-bottom: 0px;
    }
  }
  .no-result {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #8c8c8c;
  }
  .product-list {
    .page-bottom {
      padding-bottom: r(36px);
    }
    ul {
      padding: 0 r(36px);
      padding-bottom: r(36px);
    }
    li {
      display: -webkit-box;
      display: flex;
      /* horizontal */
      -webkit-box-orient: vertical;
      flex-flow: column;
      height: r(416px);
      box-sizing: border-box;
      border-radius: r(8px);
      box-shadow: 0 0 r(10px) 0 rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 0 r(36px);
      padding-bottom: r(36px);
      margin-bottom: r(24px);
      
      &:last-of-type {
        margin-bottom: r(48px);
      }
    }
    .title {
      position: relative;
      h2 {
        color: #404040;
        font-size: r(40px);
        font-weight: normal;
        padding: r(36px) 0;
        i {
          font-weight: bold;
          font-size: r(30px);
        }
        span {
          color: rgb(140, 140, 140);
          font-size: r(24px);
        }
      }
      &>span {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        i {
          font-size: r(16px);
          color: rgb(140, 140, 140);
        }
      }
    }
    .img-box {
      display: -webkit-box;
      display: flex;
      img {
        border-radius: r(8px);
        background: rgb(217, 217, 217);
      }
      &>img {
        width: r(406px);
        height: r(268px);
        margin: 0;
        margin-right: r(10px);
      }
    }
    .second {
      flex: 1;
      display: -webkit-box;
      display: flex;
      /* horizontal */
      -webkit-box-orient: vertical;
      flex-flow: column;
      /* space-around | start | end | center | justify */
      -webkit-box-pack: justify;
      justify-content: space-between;
      img {
        height: r(130px);
      }
    }
  }
  .case-list {
    ul {
      padding: 0 r(36px);
    }
    li {
      height: 204px;
      &:not(:last-child) {
        float: left;
        width: 48.2%;
        display: flex;
        flex-flow: column;
        color: #404040;
        text-align: center;
        border-radius: r(8px);
        box-shadow: 0 0 r(10px) 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding-bottom: r(36px);
        margin-bottom: r(24px);
        margin-right: r(20px);
        position: relative;
        &:nth-of-type(3n+2) {
          margin-right: 0;
        }
        &:nth-of-type(3n) {
          width: 100%;
          height: r(454px);
          padding-bottom: 0;
          margin-right: 0;
          img {
            height: 100%;
            margin-bottom: 0;
          }
          .case-info {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: r(360px);
            height: r(208px - 36px);
            background: rgba(255, 255, 255, 0.8);
            padding-top: r(36px);
            h3 {
              margin-bottom: r(28px);
              &:before {
                left: r(36px);
              }
              &:after {
                right: r(36px);
              }
            }
            h2 {
              padding-bottom: r(11px);
            }
          }
        }
      }
      &:last-of-type {
        float: left;
        width: 100%;
        height: auto !important;
        padding: r(24px) 0 !important;
        margin-bottom: 48px;
        &.loading {
          width: 100%;
          height: 60px !important;
          padding: 0 !important;
        }
      }
    }
    img {
      width: 100%;
      height: r(220px);
      margin-bottom: r(34px);
    }
    h3 {
      font-size: r(20px);
      line-height: r(20px);
      margin-bottom: r(24px);
      font-weight: normal;
      position: relative;
      &:before,
      &:after {
        content: '';
        display: block;
        width: r(42px);
        height: 1px;
        font-weight: normal;
        background: #404040;
        position: absolute;
        left: r(16px);
        top: 50%;
        z-index: 2;
        transform: translate(0, -50%) scale(1, 0.5);
      }
      &:after {
        left: auto;
        right: r(16px);
      }
    }
    h2 {
      font-size: r(30px);
      padding-bottom: r(16px);
    }
    p:not(.no-result) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      width: r(246px);
      font-size: r(24px);
      color: rgb(164, 164, 164);
      line-height: r(32px);
      margin: 0 auto;
    }
  }
  .designer-list {
    ul {
      display: flex;
      flex-flow: column;
      padding: 0 r(36px);
      padding-bottom: r(36px);
    }
    li {
      &:not(:last-of-type) {
        height: r(148px);
        display: flex;
        align-items: center;
        box-shadow: $shadow1;
        border-radius: r(8px);
        color: #404040;
        margin-bottom: r(24px);
      }
      &:last-of-type {
        height: auto !important;
        padding: r(24px) 0 !important;
        margin-bottom: 48px;
      }
    }
    img {
      width: r(100px);
      height: r(100px);
      border-radius: 50%;
      margin-left: r(24px);
      margin-right: r(16px);
    }
    h2 {
      font-size: r(30px);
      line-height: r(30px);
      margin-right: 8px;
      @include over(1);
    }
    .designer-info {
      -webkit-box-flex: 1;
      flex: 1;
      overflow: hidden;
    }
    .grade {
      display: flex;
      padding-top: r(12px);
      i {
        font-size: r(20px);
        display: inline-block;
        padding-right: r(3px);
      }
      span {
        display: inline-block;
        font-size: r(16px);
        color: #8c8c8c;
        padding-left: r(8px);
      }
    }
    .fans,
    .work {
      font-size: r(30px);
      color: #8c8c8c;
      text-align: center;
      font-weight: normal;
      span {
        display: inline-block;
        font-size: r(24px);
        padding-top: r(12px);
      }
    }
    .datum {
      flex: none;
      display: -webkit-box;
      display: flex;
      /* space-around | start | end | center | justify */
      -webkit-box-pack: end;
      justify-content: flex-end;
      padding-right: r(50px);
    }
    .fans {
      padding-right: r(50px);
    }
  }
  .gauge {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
    width: 100%;
    height: r(98px);
    line-height: r(98px);
    transition: all 0.2s;
    p {
      height: r(98px);
      line-height: r(98px);
      text-align: center;
      font-size: r(30px);
      color: #282828;
      background: #fff;
      box-shadow: $shadow1;
      display: -webkit-box;
      display: flex;
      /* start | end | center | baseline | stretch */
      -webkit-box-align: center;
      align-items: center;
      /* space-around | start | end | center | justify */
      -webkit-box-pack: center;
      justify-content: center;
    }
    img {
      width: auto;
      height: r(36px);
      margin: 0;
      margin-right: r(8px);
    }
  }
  .fixed {
    &.content {
      padding-bottom: 0;
    }
    &.gauge {
      width: r(230px);
      height: r(70px);
      padding: 0 r(36px);
      padding-bottom: r(44px);
      p {
        height: r(70px);
        line-height: r(70px);
        border-radius: r(70px);
        box-shadow: 0 0 r(10px) 0 rgba(0, 0, 0, 0.15);
      }
    }
    &.tab-module {
      position: fixed;
      top: r(88px);
      left: 0;
      right: 0;
      z-index: 8;
      box-shadow: $shadow1;
    }
  }
  .loading {
    height: r(100px);
    line-height: r(120px);
    text-align: center;
    overflow: hidden;
    p {
      line-height: r(140px);
    }
  }
}